/*================ Color ================*/

.white-text { color : white; }

.gray800 { background-color: #3C3C42; }
.gray900 { background-color: #1E1E21; }

.red { background-color: red; }
.orange { background-color: orange; }
.yellow { background-color: yellow; }
.green { background-color: green; }
.blue { background-color: blue }
.purple { background-color: purple; }
.black { background-color: black; }
.white { background-color: white; }
.cyan { background-color: cyan; }
.pink { background-color: pink; }
.gray { background-color: gray; }
.brown { background-color: brown; }

.b-red { border: 2px solid red; }
.b-orange { border: 2px solid orange; }
.b-yellow { border: 2px solid yellow; }
.b-green { border: 2px solid green; }
.b-blue { border: 2px solid blue }
.b-purple { border: 2px solid purple; }
.b-black { border: 2px solid black; }
.b-white { border: 2px solid white; }
.b-cyan { border: 2px solid cyan; }
.b-pink { border: 2px solid pink; }
.b-gray { border: 2px solid gray; }
.b-brown { border: 2px solid brown; }


/*================ Buttons ================*/
.btn-text-white {
	color: white;
	background-color: transparent;
}

.btn-with-icon,
.btn-icon {
	display: flex;
	align-items: center;
}
.btn-with-icon i {
	margin-right: 0.5rem;
}
.btn-primary {
	background-color: #ff0000;
	border-color: #ff0000;
}
.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	background-color: #cc0000;
	border-color: #cc0000;
}
.btn-secondary {
	background-color: #3C3C42;
	border: none;
}
.btn-group {
	margin-right: 1rem;
}
.btn-group:last-of-type {
	margin-right: 0;
}

/* transition */
.transition {
	transition: all 2s ease ;
}
.y-flip {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}


/*================ Canvas Control ================*/
.canvas-container,
.lower-canvas,
.upper-canvas {
	width: 100% !important;
	height: auto !important;
}

.block-thumbnail img {
	width: 100%;
	margin-bottom: 0.5rem;
	height: auto;
}

/*================ Navigation ================*/
.sidebar {
	padding: 1.5rem;
	border-right: 1px solid rgba(0,0,0,.1);
}
.navbar {
	display: flex;
	align-items: center;
	padding: 1rem;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

/*================ Show & Hide ================*/
.hide {
	display: none;
}
.hide-input {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0;
}



.sticky-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
.color-input {
	width: 30px;
	height: 30px;
}
