/*================ Color ================*/

.white-text { color : white; }

.gray800 { background-color: #3C3C42; }
.gray900 { background-color: #1E1E21; }

.red { background-color: red; }
.orange { background-color: orange; }
.yellow { background-color: yellow; }
.green { background-color: green; }
.blue { background-color: blue }
.purple { background-color: purple; }
.black { background-color: black; }
.white { background-color: white; }
.cyan { background-color: cyan; }
.pink { background-color: pink; }
.gray { background-color: gray; }
.brown { background-color: brown; }

.b-red { border: 2px solid red; }
.b-orange { border: 2px solid orange; }
.b-yellow { border: 2px solid yellow; }
.b-green { border: 2px solid green; }
.b-blue { border: 2px solid blue }
.b-purple { border: 2px solid purple; }
.b-black { border: 2px solid black; }
.b-white { border: 2px solid white; }
.b-cyan { border: 2px solid cyan; }
.b-pink { border: 2px solid pink; }
.b-gray { border: 2px solid gray; }
.b-brown { border: 2px solid brown; }

/*================ Border ================*/
.border-bottom {
    border-bottom: 1px solid #3C3C42 !important;
}


/*================ Buttons ================*/
.btn-block {
	padding: 12px;
}
.btn-text-white {
	color: white;
	background-color: transparent;
}

.btn-with-icon,
.btn-icon {
	display: flex;
	align-items: center;
}
.btn-with-icon i {
	margin-right: 0.5rem;
}
.btn-primary {
	background-color: #ff0000;
	border-color: #ff0000;
}
.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	background-color: #cc0000;
	border-color: #cc0000;
}
.btn-secondary {
	background-color: #1E1E21;
	border: none;
}
.btn-group {
	margin-right: 1rem;
}
.btn-group:last-of-type {
	margin-right: 0;
}

/* transition */
.transition {
	transition: all 0.5s ease ;
}
.y-flip {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.sticky-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
.btn-active {
	background-color: rgba(0, 0, 0, 0.26);
}

/*================ Canvas Control ================*/

.canvas-container,
.lower-canvas,
.upper-canvas {
	width: 100% !important;
	height: auto !important;
}
.lower-canvas {
	position: relative !important;
}
.canvas-artboard {
	width: 100% !important;
	height: 100%;
}
.block-thumbnail {
	margin-bottom: 2rem;
}
.block-thumbnail img {
	width: 100%;
	height: auto;
	border: 1px solid #585861;
}
.block-thumbnail-empty {
	display: flex;
	width: 100%;
	height: 100%;
	border-style: dashed;
	border: 1px solid #585861;
}

/*================ Show & Hide ================*/
.hide {
	opacity: 0 !important;
	height: 0 !important;
	/* display: none; */
}
.hide-input {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0;
}
.color-input {
	width: 30px;
	height: 30px;
}

/*================ Navigation ================*/
.tool-options {
	padding: 1.5rem;
	border-right: 1px solid rgba(0,0,0,.1);
	height: 80vh
}
.navbar {
	display: flex;
	align-items: center;
	padding: 1rem;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

/*================ slider ================*/
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: #979797;
  outline: none;
  /* opacity:0.7; */
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}
.slider:hover {
  opacity:1;
}
.slider::-webkit-slider-thumb {
  width: 24px;
  height: 24px;
  align-content: white;
  border-radius: 50%;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

/*================ setting ================*/
.block-option {
	margin-bottom: 1.5rem;
}
.block-option:last-of-type {
	margin-bottom: 0;
}
/*================ setting ================*/
.template-header {
	padding: 1rem 0;
}

/*================ Media Query ================*/
@media only screen and (max-width: 475px) {
	.tool-options {
		z-index: 100;
		position: absolute;
		top: 71px;
	}
	.tool-open {
		margin-top: 277px;
	}
}
