{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128170153-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-128170153-1');
	</script>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
	<!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
	<title>무료 유튜브 썸네일 만들기 사이트</title>
	<!-- 합쳐지고 최소화된 최신 CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!-- 부가적인 테마 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<!-- Material icon -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&amp;subset=korean" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:500,700,900&amp;subset=korean" rel="stylesheet">
	<link href="{% static "custom.css" %}" rel="stylesheet">
	<!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
	<!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>


	<nav class="navbar navbar-light bd-navbar">
		<div>
			<a class="navbar-brand" href="#">
				<img src="{% static "img/youthumb.svg" %}" width="48" height="48" class="d-inline-block align-center" alt="">
			</a>
		</div>
		<div class="nav-navbar">
			<h3 class="bd-title">무료 온라인 유튜브 썸네일</h3>
		</div>
		<div class="img-loader ml-md-auto d-inline-block">
			<label for="imgLoader">
				<!-- <img class="ic-add-photo" src="{% static "img/add_photo.png" %}" alt=""> -->
				<span>이미지 불러오기</span>
			</label>
			<input type="file" id="imgLoader"/>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 bd-sidebar">
					<!-- <div class="page-header">
					<h5>템플릿</h5>
				</div> -->
				{% for tmpl in templates %}
				{% cycle '<div class="">' '' '' %}
					<div>
						<div class="block-thumbnail" onclick="canvas.loadFromJSON('{{tmpl.data}}')">
							<img class="" src="{{tmpl.thumbnail}}" >
						</div>
					</div>
					{% cycle '' '' '</div>' as ptext %}
					{% if ptext == '' and forloop.last %}  </div> {% endif %}
					{% endfor %}
			</div>
			<div class="col-sm-9 bd-content">
				<canvas id="myCanvas" class="canvas-paper">
					Your browser does not support the canvas element
				</canvas>
				<div id="palette" class="canvas-tool">
				</div>
				<h1>
					<input type="button" class="btn btn-default" id="upload" value="Upload this for Template"/>
					<a id="download-btn-a">
						<input type="button" class="btn btn-primary" value="Download Thumbnail"/>
					</a>
				</h1>
			</div>
		</div>
	</div>




<!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
<!--<script src="node_modules/fabric/dist/fabric.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/2.4.1/fabric.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

<script type="text/javascript">
function csrfSafeMethod(method) {
	// these HTTP methods do not require CSRF protection
	return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

function Copy() {
	// clone what are you copying since you
	// may want copy and paste on different moment.
	// and you do not want the changes happened
	// later to reflect on the copy.
	canvas.getActiveObject().clone(function(cloned) {
		_clipboard = cloned;
	});
}

function Paste() {
	// clone again, so you can do multiple copies.
	_clipboard.clone(function(clonedObj) {
		canvas.discardActiveObject();
		clonedObj.set({
			left: clonedObj.left + 10,
			top: clonedObj.top + 10,
			evented: true,
		});
		if (clonedObj.type === 'activeSelection') {
			// active selection needs a reference to the canvas.
			clonedObj.canvas = canvas;
			clonedObj.forEachObject(function(obj) {
				canvas.add(obj);
			});
			// this should solve the unselectability
			clonedObj.setCoords();
		} else {
			canvas.add(clonedObj);
		}
		_clipboard.top += 10;
		_clipboard.left += 10;
		canvas.setActiveObject(clonedObj);
		canvas.requestRenderAll();
	});
}

function activeObjectSet(options, key, val) {
	actobj = canvas.getActiveObject();
	if (options.target && actobj) {
		canvas.getActiveObject().set(key, val);
		canvas.renderAll();
	}
}

var canvas = new fabric.Canvas('myCanvas');

canvas.setDimensions({width:1280, height:720}, {backstoreOnly:true});
canvas.selection = true;
canvas.on('mouse:down', function(opt) {console.log(opt)});

var ubuntuText = new fabric.IText("배그타임!", {
	fontFamily: 'Noto Sans KR',
	fontSize: 100,
	fontWeight: 900,
	fill: '#f442df',
	stroke: 'black',
	strokeWidth:20,
	paintFirst: 'stroke',
	charSpacing: -100,
	angle:  -5,
	top: 100

});

var copyText = new fabric.IText("");
fabric.util.object.extend(copyText, ubuntuText);
copyText.set('top', 200);
copyText.set('text', "쟁니랑");
copyText.set('fill', 'white');

var copyText2 = new fabric.IText("");
fabric.util.object.extend(copyText2, ubuntuText);
copyText2.set('top', 300);
copyText2.set('text', "명욱이랑");
copyText2.set('fill', 'red');

canvas.add(ubuntuText);
canvas.add(copyText);
canvas.add(copyText2);


//add html component
var pcell = document.createElement("div");
pcell.setAttribute("class", "palette-cell");

$(pcell).clone().html("복사").on('mouseup', Copy).appendTo("#palette");
$(pcell).clone().html("붙여넣기").on('mouseup', Paste).appendTo("#palette");
$(pcell).clone().html("삭제").on('mouseup', function(options){
	var actobj = canvas.getActiveObject();
	canvas.remove(actobj);
}).appendTo("#palette");
$(pcell).clone().html("테두리굵게").on('mouseup', function(options){
	var actobj = canvas.getActiveObject();
	activeObjectSet(options, "strokeWidth", actobj.strokeWidth+4);
}).appendTo("#palette");
$(pcell).clone().html("테두리얇게").on('mouseup', function(options){
	var actobj = canvas.getActiveObject();
	activeObjectSet(options, "strokeWidth", actobj.strokeWidth-4);
}).appendTo("#palette");
$(pcell).clone().html("나눔고딕").on('mouseup', function(options) {
	activeObjectSet(options, "fontFamily", "Nanum Gothic");
}).appendTo("#palette");
$(pcell).clone().html("Noto Sans KR").on('mouseup', function(options) {
	activeObjectSet(options, "fontFamily", "Noto Sans KR");
}).appendTo("#palette");

var colors = ["red", "orange", "yellow", "green", "blue", "purple", "black", "white", "cyan", "pink", "gray", "brown"];
var gradients = [{name: "red orange", h:0, v:1, stops:{0:"red", 1:"orange"}},
		 {name: "blue darkblue", h:0, v:1, stops:{0:"blue", 1:"darkblue"}},
		 {name: "red darkred", h:0, v:1, stops:{0:"red", 1:"darkred"}}];

// text color bar
var textColor = $(pcell).clone();
$(textColor).append('<div class="palette-cell-title">글자색:<div>');
for (i = 0; i < colors.length; i++) {
	c = document.createElement("div");
	c.setAttribute("class", "color-cell");
	$(c).html(colors[i]).on('mouseup', {color: colors[i]}, function(options) {
		activeObjectSet(options, "fill", options.data.color);
	}).appendTo(textColor);
}
for (i = 0; i < gradients.length; i++) {
	g = document.createElement("div");
	g.setAttribute("class", "color-cell");
	$(g).html(gradients[i].name).on('mouseup', {gr: gradients[i]}, function(options) {
		actobj = canvas.getActiveObject();
		gr = options.data.gr;
		if (actobj) {
			actobj.setGradient('fill', {x1:0, y1:0, x2:actobj.width*gr.h, y2:actobj.height*gr.v, colorStops: gr.stops});
			canvas.renderAll();
		}
	}).appendTo(textColor);
}
$(textColor).appendTo("#palette");

//stroke color bar
var textColor = $(pcell).clone();
$(textColor).append('<div class="palette-cell-title">테두리색:<div>');
for (i = 0; i < colors.length; i++) {
	c = document.createElement("div");
	c.setAttribute("class", "color-cell");
	$(c).html(colors[i]).on('mouseup', {color: colors[i]}, function(options) {
		activeObjectSet(options, "stroke", options.data.color);
	}).appendTo(textColor);
}
$(textColor).appendTo("#palette");

// Event for download btn
var link = document.getElementById("download-btn-a");
link.addEventListener('click', function(ev) {
	link.href = canvas.toDataURL();
	link.download = "mypainting.png";
}, false);


// Create image loader btn
document.getElementById('imgLoader').onchange = function handleImage(e) {
	var reader = new FileReader();
	reader.onload = function (event){
		var imgObj = new Image();
		imgObj.src = event.target.result;
		imgObj.onload = function () {
			var image = new fabric.Image(imgObj);
			canvas.setBackgroundImage(image, canvas.renderAll.bind(canvas), {
				scaleX: canvas.width / image.width,
				scaleY: canvas.height / image.height,
				// Needed to position backgroundImage at 0/0
				originX: 'left',
				originY: 'top'
			});
		}
	}
	reader.readAsDataURL(e.target.files[0]);
}

// Set click event for template upload button
$('#upload').click(function(){
	//to fix csrf error
	var csrftoken = Cookies.get('csrftoken');
	$.ajaxSetup({
		beforeSend: function(xhr, settings) {
			if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		}
	});

	$.post("templates/", {thumbnail: canvas.toDataURL(), data: JSON.stringify(canvas)});
});

// Set first templete in canvas
if ($(".col-xs-4").size()) {
	$(".col-xs-4").get(-1).onclick();
}
</script>


</body>
</html>
