{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128170153-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-128170153-1');
	</script>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
	<!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
	<title>무료 유튜브 썸네일 만들기 사이트</title>
	<!-- 합쳐지고 최소화된 최신 CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!-- 컬러 피커 -->
	<link rel="stylesheet" href="https://unpkg.com/huebee@1/dist/huebee.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&amp;subset=korean" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:500,700,900&amp;subset=korean" rel="stylesheet">
	<link href="{% static "custom.css" %}" rel="stylesheet">
	<!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
	<!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>


	<nav class="bd-navbar">
		<img class="ic-big mr-3" src="{% static "img/youthumb.svg" %}">
		<h4 class="bd-title d-inline">무료 온라인 유튜브 썸네일</h4>

		<!-- 버튼 그룹 -->
		<div class="btn-group ml-auto">
			<!-- 이미지 불러오기 -->
			<div class="mr-1">
				<label for="imgLoader" class="btn btn-primary mb-0">
					<span>이미지 불러오기</span>
				</label>
				<input type="file" id="imgLoader" class="hide-input"/>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 bd-sidebar">
				<div class="page-header">
					<h5>인기 템플릿</h5>
					<hr>
				</div>
				{% for tmpl in templates reversed %}
				{% cycle '<div class="">' '' '' %}
					<div>
						<div class="block-thumbnail" onclick="canvas.loadFromJSON('{{tmpl.data}}')">
							<img class="" src="{{tmpl.thumbnail}}" >
						</div>
					</div>
					{% cycle '' '' '</div>' as ptext %}
					{% if ptext == '' and forloop.last %}  </div> {% endif %}
					{% endfor %}
			</div>
			<div class="col-sm-9 bd-content">
				<div> 유튜브 화면 캡쳐는 여기에서 :
					<a target="_blank" rel="noopener noreferrer" href="http://www.youtubescreenshot.com/">http://www.youtubescreenshot.com/</a>
				</div>
				<canvas id="myCanvas" class="canvas-artboard">
					Your browser does not support the canvas element
				</canvas>
				<div class="canvas-tool">
					<!-- 콤포넌트 제어 -->
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-secondary" id="btn-copy">복사</button>
						<button type="button" class="btn btn-secondary" id="btn-paste">붙여넣기</button>
						<button type="button" class="btn btn-secondary" id="btn-delete">삭제</button>
					</div>
					<!-- 글꼴 -->
					<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
						<button type="button" class="btn btn-dark" disabled>글자</button>
						<button class="btn btn-secondary color-button" >
							<span class="color-input" id="fill-hueb" width="12px" height="12px" data-huebee >색상</span>
						</button>
						<div class="btn-group" role="group">
							<button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								글꼴
							</button>
							<div class="dropdown-menu" id="font-dropdown-menu" aria-labelledby="btnGroupDrop1">
							</div>
						</div>

					</div>
					<!-- 테두리 -->
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-dark" disabled >테두리</button>
						<button type="button" class="btn btn-secondary" id="stroke-delete">없음</button>
						<button type="button" class="btn btn-secondary" id="stroke-thinner">얇게</button>
						<button type="button" class="btn btn-secondary" id="stroke-thicker">굵게</button>
						<button class="btn btn-secondary color-button" >
							<span class="color-input" id="stroke-hueb" width="12px" height="12px" data-huebee >색상</span>
						</button>
					</div>

					<!-- 색상 -->
					<!-- <div class="color-group">
						<div class="color-chip white border"></div>
						<div class="color-chip gray"></div>
						<div class="color-chip black"></div>

						<div class="color-chip red"></div>
						<div class="color-chip green"></div>
						<div class="color-chip blue"></div>

						<div class="color-chip yellow border"></div>
						<div class="color-chip orange"></div>
						<div class="color-chip brown"></div>
						<div class="color-chip purple"></div>

						<div class="color-chip cyan"></div>
						<div class="color-chip pink"></div>
					</div>
					<div class="color-group">
						<div class="color-chip b-white border"></div>
						<div class="color-chip b-gray"></div>
						<div class="color-chip b-black"></div>

						<div class="color-chip b-red"></div>
						<div class="color-chip b-green"></div>
						<div class="color-chip b-blue"></div>

						<div class="color-chip b-yellow border"></div>
						<div class="color-chip b-orange"></div>
						<div class="color-chip b-brown"></div>
						<div class="color-chip b-purple"></div>

						<div class="color-chip b-cyan"></div>
						<div class="color-chip b-pink"></div>
					</div> -->
				</div>
				<hr>
				<!-- 이미지 저장 -->
				<div class="btn-group d-flex justify-content-end">
					<form id="upload-tmpl-form" action="{% url 'fabric_canvas:insert_tmpl' %}" method="POST">
						{% csrf_token %}
						<input type="hidden" id="input-data" name="data">
						<input type="hidden" id="input-thumbnail" name="thumbnail">
						<input type="submit" class="btn btn-secondary mr-1" id="upload" value="임시 저장"/>
					</form>
					<!-- 다운로드 -->
					<a id="download-btn-a">
						<button class="btn btn-dark">다운로드</button>
					</a>
				</div>


				<!-- <div id="palette" class="canvas-tool">
				</div> -->

				<!-- <div>
					<input type="text" id="youtube-url" value="RBRSBtPQLF0">
					<input type="button" id="youtube-url-button" value="가져오기">
				</div>
				<div id="youtube-player">
				</div>
				<div>
					<input type="button" id="capture" value="캡쳐하기">
				</div>
				<canvas id="myCanvas" class="canvas-paper"> -->
			</div>
		</div>
	</div>




	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<!--<script src="node_modules/fabric/dist/fabric.js"></script>-->
	<!-- 컬러 피커 -->
	<script src="https://unpkg.com/huebee@1/dist/huebee.pkgd.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/2.4.1/fabric.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script src="static/features.js"></script>


</body>
</html>
